{% load static %}
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>{% block title %} {{section.title}} {% endblock %}</title>
  <link rel="stylesheet" href="{% static 'assets/css/app.min.css'%}">
  <link rel="stylesheet" href="{% static 'assets/bundles/jquery-selectric/selectric.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/style.css'%}">
  <link rel="stylesheet" href="{% static 'assets/css/components.css'%}">
  <link rel="stylesheet" href="{% static 'assets/css/custom.css'%}">
    <link rel="stylesheet" href="{% static 'bundles/bootstrap-social/bootstrap-social.css'}">
  <link rel='shortcut icon' type='image/x-icon' href='assets/img/favicon.ico' />
</head>

{% block content %}
{% endblock %}

<script src="{% static 'assets/bundles/jquery-pwstrength/jquery.pwstrength.min.js' %}"></script>
<script src="{% static 'assets/bundles/jquery-selectric/jquery.selectric.min.js'%}"></script>
<script src="{% static 'assets/js/app.min.js' %}"></script>
<script src="{% static 'assets/js/scripts.js' %}"></script>
<script src="{% static 'assets/js/custom.js' %}">
  <script src="{% static 'assets/js/page/auth-register.js'%}"></script>


